@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
/*configuracion base*/
:root {
    --main-bkg: #e7e8e8;
    --main-color: #07575b;
    --main-color-text: #c4dfe6;
    --main-color-active: #003b46;
    --main-color-active-text: #66a5ad;
    --main-font: 'Nunito', sans-serif;
    --min-width: 104px;
}

html {
    background-color: var(--main-bkg);
    font-family: var(--main-font);
    margin: 0;
    padding: 0;
    color: var(--main-color-text);
}

body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    position: absolute;
    display: flex;
    flex-direction: column;
}

h1{
    text-align: center;
    color: var(--main-color);
}

.container{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center ;
}

#toggleBtn{
    height: 0;
	width: 0;
	visibility: hidden;
}

#lblLED{
	cursor: pointer;
	text-indent: -9999px;
	width: 200px;
	height: 100px;
	background: grey;
	display: block;
	border-radius: 100px;
	position: relative;
}

#lblLED:after {
	content: '';
	position: absolute;
	top: 5px;
	left: 5px;
	width: 90px;
	height: 90px;
	background: #fff;
	border-radius: 90px;
	transition: 0.3s;
}

#toggleBtn:checked + label {
	background: var(--main-color-active-text);
}

#toggleBtn:checked + label:after {
	left: calc(100% - 5px);
	transform: translateX(-100%);
}

#lblLED:active:after {
	width: 130px;
}

.DATAOUT{
    color: var(--main-color);
}
