<!DOCTYPE html>
<html>

<head>
	<title>TLALLJI</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
	<link rel="stylesheet" href="../static/css/style.css">
	<script src="https://cdn.plot.ly/plotly-2.24.1.min.js" charset="utf-8"></script>
	<script src="{{ url_for('static', filename='js/javascript.js') }}"></script>
</head>

<body>
	<h1>TLALLJI</h1>
	<h2>Control autonomo</h2>
	<div class="container">
		<span>switch LED</span>
		<input id="toggleBtn" type="checkbox" onchange="ToggleLED()" />
		<label for="toggleBtn" id="lblLED">Toggle</label>
		<span id="lblHumedad" class="DATAOUT"></span>
		<input type="range" value="25" id="sldrHumedad">
		<span id="lblUmbral" class="DATAOUT"></span>
	</div>


	<script>
		function ToggleLED() {
			var toggleBtn = document.getElementById('toggleBtn');
			var ledStatus = toggleBtn.checked ? 'ON' : 'OFF';
			var xhr = new XMLHttpRequest();
			xhr.open('POST', '/', true);
			xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded;charset=UTF-8');
			xhr.send('led=' + ledStatus);
			xhr.onreadystatechange = function () {
				if (xhr.readyState === 4 && xhr.status === 200) {
					console.log('Datos enviados correctamente');
				}
			};
		}
	</script>

	<script>
		// Función para enviar XMLHttpRequest
		const enviarMensaje = (mensaje) => {
			const xmlhttp = new XMLHttpRequest();
			// Configura la solicitud según tus necesidades
			xmlhttp.open('POST', '/', true);
			xmlhttp.setRequestHeader('Content-type', 'application/x-www-form-urlencoded');
			xmlhttp.send('${mensaje}');
		};
		// Obtener referencia al slider y elementos de la interfaz
		const umbralSlider = document.getElementById('sldrHumedad');
		document.getElementById('lblUmbral').innerText = umbralSlider.value + '%';
		let umbral = umbralSlider.value;
		// Variables de control
		let enviadoOn = false;
		let enviadoOff = false;

		umbralSlider.addEventListener('input', () => {
			umbral = umbralSlider.value;
			document.getElementById('lblUmbral').innerText = umbralSlider.value + '%';
			// Restablecer las variables de control al mover el slider
			enviadoOn = false;
			enviadoOff = false;
		});

		const eventSource = new EventSource('/sse');
		eventSource.addEventListener('humedad', function (event) {
			// Actualiza el valor en el span y establece el fondo del slider
			var valor = event.data;
			let valorMinimo = 26100;
			let valorMaximo = 5500;
			let porcentaje = ((valor - valorMinimo) / (valorMaximo - valorMinimo)) * 100;
			// Enviar XMLHttpRequest cuando se cumple una condición
			if (porcentaje < umbral && !enviadoOn) {
				enviarMensaje('bomba=ON');
				enviadoOn = true;
				enviadoOff = false;
			} else if (porcentaje >= (umbral / 2 + 50) && !enviadoOff) {
				enviarMensaje('bomba=OFF');
				// Restablecer las variables de control al mover el slider
				enviadoOn = false;
				enviadoOff = true;
			}
			var slider = document.getElementById('sldrHumedad');
			slider.style.background = 'linear-gradient(to right, var(--main-color-active-text) 0%, var(--main-color-active-text) ' + porcentaje + '%, grey ' + porcentaje + '%, grey 100%)';
			document.getElementById('lblHumedad').textContent = 'humedad: ' + porcentaje + '%';
			// Aquí puedes manejar los datos del evento1 como desees
		});
	</script>

</body>

</html>
